{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <div class="box-element product">
                <img src="{{product.imageURL}}" alt="" class="thumbnail">
                <div class="box-element product">
                    <h6><strong>{{product.name}} {{product.price}}원</strong></h6>
                    <hr>

                    <button class="btn btn-outline-secondary add-btn">장바구니 추가</button>
                    <a href="#" class="btn btn-outline-success">상세설명</a>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}