<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-signin" method="POST" action="/login/">
        <p>로그인 테스트 화면</p>
        <table width="300px">
            <tr>
                <th><td>ID</td><td><input type="text" name="userid" id="userid"></td></th>
            </tr>
            <tr>
                <th><td>PW</td><td><input type="text" name="userpw" id="userpw"></td></th>
            </tr>
        </table>
        <input type="submit" value="로그인">
    </form>
</body>
</html>